*{
    margin: 0;
    padding: 0;
}
/*---FUENTE-EXTERNA----*/
@font-face{
    
    font-family: 'freestyle script';
    src: local("?"), url("../fonts/freescript.ttf") format("truetype");
}

ul,ol{
    
    list-style: none;
}
/*--H1 SLIDER--*/
 .slider li .caption h1{     
    font-family: 'freestyle script';
    font-size: 2em;
}
 
/*--IMAGENES SLIDER--*/
.slider li img{  
    
    width: 100%;
    height: 100%;
}
/*--SLIDESHOW--*/  
.slideshow{   
    width: 100%;
    /*Porque los iconos seran absolutos*/
    position: relative; 
}
/*--tengan una anchura del 100%--*/
.slider li{
    width: 100%;
    margin-bottom: -3%;
}

.slider .caption{
    
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 15px 50px;
    
    display: flex;
    flex-direction: column;
    text-align: left;
    color:grey;
    z-index: 1;
}

.circulos{
    
    position: absolute;
    top:102%;
    width: 102%;
    display: flex;
    justify-content: center;
}

.circulos{
    
    font-size: 20px;
    margin: 2px 5px;
    color: dimgrey;
    cursor:pointer; 
    z-index: 90;
}

.left, .right{
    
    position: absolute; 
    top: 0;
    height: 100%;
    
    display: flex;
    align-items: center;
    color: grey;
    font-size: 300%;
    cursor: pointer;
    z-index: 2; /*esten encima del texto las flechas*/
}

.left{
    
    left: 10px;
}

.right{
    
    right: 10px;
}


