/*--texto--*/
h1,h2,h3,h4,h5,h6 {
  font-weight: 300;
  line-height: 150%;
}
/*--Alineados de dos en dos--*/

*:before,*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/*animation element sliding left*/
/*--Al ponerte encima con el cursos hace efecto de animacion--*/
.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

/*--Se ve todo el contenido--*/
.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
    
   box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
    
    border: solid grey;
    border-radius: 3em;
}
/*animation slide left styled for testimonials*/
/*--Aparezca cada persona con un su bloque de informacion correspondien--*/
.animation-element.slide-left.testimonial {
  float: left;
  width: 47%;
  margin: 0% 1.5% 3% 1.5%;
  background: #F5F5F5;
  padding: 15px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  border: solid 1px #EAEAEA;
}
/*--efecto de sombra al poner el cursor encima--*/
.animation-element.slide-left.testimonial:hover,
.animation-element.slide-left.testimonial:active{
  box-shadow: 0px 5px 10px 0px #E5E7E9;
}

.animation-element.slide-left.testimonial:nth-of-type(odd) {
  width: 32em;
  /*height: 7em;*/
  margin: 0% 1.5% 3.0% 0%;
}

.animation-element.slide-left.testimonial:nth-of-type(odd) {
  width: 32em;
  /*height: 7em;*/
  margin: 0% 1.5% 3.0% 0%;
}

.animation-element.slide-left.testimonial:nth-of-type(even) {
  width: 48.5%;
  margin: 0% 0% 3.0% 1.5%;
}
/*--Estrellas--*/
.animation-element.slide-left.testimonial .header{
  float: left;
  width: 100%;
}
.animation-element.slide-left.testimonial .left{
  float: left;
  margin-right: 15px;
}
.animation-element.slide-left.testimonial .right{
  float: left;
}

.animation-element.slide-left.testimonial img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgba(51, 51, 51, 0.5);
}

.animation-element.slide-left.testimonial h3 {
  margin: 0px 0px 5px 0px;
}

.animation-element.slide-left.testimonial h4 {
  margin: 0px 0px 5px 0px;
}

.animation-element.slide-left.testimonial .content {
  float: left;
  width:100%;
  margin-bottom: 10px;
}

/*--Estrellas--*/
.animation-element.slide-left.testimonial .rating {
    margin-bottom: 1em;
    margin-left: 6em;
}
.animation-element.slide-left.testimonial i {
    color: black;  
 }

.right ul li{
    
    font-size: 0.5em;
}

.content{
    
        margin-left: 7em;
}